RESEND_API_KEY=re_xxxxxxxxx
JWT_KEY=your_hex_encoded_jwt_key
SERVER_GRPC_ADDRESS=127.0.0.1:3000
WS_PORT=8000
JWT_ACCESS_DURATION_SECS=28800
JWT_REFRESH_DURATION_SECS=2592000
DB_CONNECTION=postgresql://_xxxx
